.gallery {
  max-width: 1280px;
  width: 100%;
  padding: 1.25rem 2rem;
  margin-inline: auto;

  & header {
    text-align: center;
    display: block;
  }

  & .content {
    display: grid;
    grid-template-areas: "A B B" "C C D";
    margin-top: 2rem;
    gap: 2.5rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.9375rem;
    }

    & figure {
      position: relative;
      overflow: hidden;
      border-radius: 2.5rem;
      height: 410px;
      line-height: 0;

      animation: image-appear linear backwards;
      animation-timeline: view();
      animation-range: 100px 300px;

      &[data-delay] {
        animation-range: 150px 350px;
      }

      &:nth-child(1) {
        grid-area: A;
      }
      &:nth-child(2) {
        grid-area: B;
      }
      &:nth-child(3) {
        grid-area: C;
      }
      &:nth-child(4) {
        grid-area: D;
      }

      & > img {
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
      }

      & figcaption {
        opacity: 0;
        transition: transform 0.2s ease, opacity 0.2s ease;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 2rem;
        color: var(--background);

        & img {
          width: 2rem;
          object-fit: cover;
          border-radius: 50%;
          aspect-ratio: 1/1;
        }
      }

      &:hover {
        & > img {
          transform: scale(1.1);
          object-fit: cover;
        }

        & figcaption {
          background: linear-gradient(
            to top,
            rgb(0 0 0 / 0.64),
            rgb(0 0 0 / 0)
          );
          transform: translate(0, -110px);
          opacity: 1;
        }
      }
    }

    @media (width <= 1000px) {
      grid-template-areas: "A A A" "B B B" "C C C" "D D D";

      & figure {
        height: 310px;

        &:hover {
          & > img {
            transform: scale(1.1);
            object-fit: cover;
          }

          & figcaption {
            background: linear-gradient(
              to top,
              rgb(0 0 0 / 0.64),
              rgb(0 0 0 / 0)
            );
            transform: translate(0, -80px);
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
}
