:root {
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #db2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;
  --text: #000000;
  --highlights: #000000;
  --background: #fafafa;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2.5rem;
  --fs-2xl: 4rem;

  --size-hero-text: 4.8rem;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Alice", serif;
  position: relative;
  background-color: var(--background);
  color: var(--text);

  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;

  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
  line-height: 1.2;
}
h2 {
  font-size: var(--fs-xl);
}
h3 {
  font-size: var(--fs-lg);
}
span {
  font-size: var(--fs-sm);
}
p {
  font-size: var(--fs-base);
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-base);
}
